.no-margin{
	margin:0px;
}
.no-padding{
	padding: 0px;
}

.container_margin{
	margin-top: 20px;
	margin-bottom: 20px;
}

.site_footer{
	background-color: #222;
	color: white;
	margin-top: 0px;
	padding-top: 10px;
}

.bottom_footer{

	margin-top: 10px;
	padding-top: 10px;
	color: white;
}

.img_border{
	border: 1px solid #C8C8C8;
}