
#page_body{
	background-color: #F6F6F6;
}

.no-margin{
	margin:0px;
}
.no-padding{
	padding: 0px;
}

.container_margin{
	margin-top: 20px;
	margin-bottom: 20px;
}

#nav_tabs li a{
	width: 100px;
	text-align: center;
	font-family: Sans-serif;
}

#nav_tabs li.active a{
	background-color: #4285F4;
	color: #fff;

}

#nav_tabs li.hover a{
	background-color: #0F9D58;

}

#panel_body h5{
	font-family: Georgia;
}

.img-rounded {
    border-radius: 25px;
}


.site_footer{
	background-color: #222;
	color: white;
	margin-top: 0px;
	padding-top: 10px;
}

.bottom_footer{
	margin-top: 10px;
	padding-top: 10px;
	color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
        h5 {
        	font-size:12px;
        }
}