
#page_body{
	background-color: #F6F6F6;
}

.no-margin{
	margin:0px;
}
.no-padding{
	padding: 0px;
}

.container_margin_setting{
	margin-top: 20px;
	margin-bottom: 20px;
}

.align_to_right{
	text-align: right;
}

#login{
	font-family: Sans-serif;
	color: #4285F4;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}


#nav_tabs li a{
	width: 100px;
	text-align: center;
	font-family: Sans-serif;
}

#nav_tabs li.active a{
	background-color: #4285F4;
	color: #fff;

}

#panel_body h5{
	font-family: Georgia;
	color: #202020;
}

.img-rounded {
    border-radius: 25px;
}

.sub_title{
	font-size: 20px;
	font-family: Georgia;
	color: #0F9D58;
	margin: 20px 25px 10px 25px;
}

.page-header{
	padding-bottom: 0px;
	border-bottom:2px solid #ddd;
}

.site_footer{
	background-color: #222;
	color: white;
	margin-top: 0px;
	padding-top: 10px;
}

.bottom_footer{
	margin-top: 10px;
	padding-top: 10px;
	color: white;
}

@media (min-width: 0px) and (max-width: 991px) {
        h5 {
        	font-size: 8px;
        }
}